html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  color: antiquewhite;
}

.App {
  height: 100vh;
}

.bg {
  background-color: rgb(81, 151, 255);
  height: 100%;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 77%, 74% 100%, 0 100%);
  position: absolute;
  z-index: -1;
}

div {
  text-align: center;
}

h1 {
  font-size: 4rem;
}

img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: 1rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .2);
}

@media (min-width: 769px) {
  .App {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 3rem;
  }

  .bg {
    clip-path: polygon(0 0, 85% 0, 92% 100%, 0% 100%);
  }

  div {
    text-align: left;
  }
}